
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:darkslategray;
  background-image: url(images/digital-white-background-with-binary-code-numbers.zip);
  
}

.important {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  border: 2px solid silver;
  box-shadow: 2px 2px 20px black;
}

header {
  background-color: grey;
  text-align: left;
}

header h1 {
  font-size: 3rem;
  color: Black;
  text-shadow: 3px 2px 20px white;
  padding: .5rem;
}

nav {
  background-color: black;
  text-transform: uppercase;
  
}

nav ul {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 3rem;
}

nav a:hover {
  background-color: black;
  border-radius: 0.2rem;
  background-color:teal;
  box-shadow: inset 5px 2px 4px 0px black;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.left-column {
  font-size: 1.34rem;
  line-height: 1.4;
  padding: 0 2rem;
}

.left-column h2 {
  font-size: 125%;
  color: teal;
  border-bottom: 2px solid rgb(12, 11, 11);
}

.pic-left {
  float: left;
  box-shadow: 2px 2px 7px black;
  border: 5px solid white;
  margin: 0 2rem 1rem 1rem;
}

.right-column {
  background-color: teal;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: .8rem;
  padding: .7rem;
  border-radius: 8px;
  box-shadow: inset 2px 2px 10px black;
  text-wrap: balance;
}

.right-column h2 {
  font-size: 175%;
}

.right-column figcaption {
  margin-top: .5rem;
}

.right-column img {
  border: 3px solid white;
  border-radius: 50%;
}

footer {
  background-color: black;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 80%;
  font-style: italic;
}

img {
  max-width: 100%;
}

.info{
  line-height: 1.6rem;
  margin-right: -9rem;
  margin-left: 5.5rem;
}

.info h2{
font-size: 175%;
color: teal;
border-bottom: 2px solid black;
margin-bottom: 0.5rem;
}

.info h3{
  font-size: 130%;
  color: black;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.info img{
  border: 5px solid teal;
  box-shadow: 8px 8px 8px;
  margin-bottom: 1rem;
}

.info p {
  font-size: 120%;
}

.next-week{
 background-color: lightgray;
 color: black;
 text-align: center;
 padding: 1rem;
 border: 3px solid black;
 border-radius: 5px;
 box-shadow: inset 2px 3px 4px;
 margin-bottom: 3rem;
}

.next-week h2{
  color: black;
  background-color: teal;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
  box-shadow: 1px 1px 1px ;
}

.differences{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-left: 1rem;
  border: 3px solid black;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.differences li{
  list-style-type: none;
  font-weight: bold;
  margin: 0.4rem;
}

.differences h4{
font-size: 120%;
border: 5px solid teal;
margin: 0.5rem;
background-color: lightseagreen;
box-shadow: 3px 3px 8px;
}

